[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/collinsezedike/solana-starter
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/collinsezedike/anchor-vault
	branch = main
