[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/collinsezedike/solana-starter
	branch = master

[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/collinsezedike/anchor-vault
	branch = main
	
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/collinsezedike/anchor-escrow
	branch = main
