[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/collinsezedike/solana-starter
	branch = master
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/collinsezedike/anchor-vault
	branch = main
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/collinsezedike/anchor-escrow
	branch = main
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/collinsezedike/anchor-amm
	branch = main
[submodule "nft-staking"]
	path = nft-staking
	url = https://github.com/collinsezedike/nft-staking
	branch = main
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = https://github.com/collinsezedike/nft-marketplace.git
	branch = main
[submodule "satoshi-dice"]
	path = satoshi-dice
	url = https://github.com/collinsezedike/satoshi-dice.git
	branch = main
